body {
    background-color: #FFE6EE;
}

h1 {
    color: black;
}

p {
    font-family: Didot, "Didot LT STD",
    font-size: 20px;
}

div {
    margin: auto;
    width: 50%;
    font-family: Didot, "Didot LT STD";
    font-size: 20px;
}

button {
    color: black;
    background: transparent;
    border: 2px solid #C12957;
    border-radius: 6px;
    font-size: 15px;

}
 button:hover {
      background-color: #C12957;
      color: white;

 }